.modal__general__first-button {
  padding: 10px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 20px;
  background: rgb(11, 170, 232);
  color: #ffffff;
  border-radius: 5px;
  width: 150px;
}

.modal__general__first-button:hover {
  transition: 3s;
  background: rgb(31, 66, 158);
  background: linear-gradient(
    90deg,
    rgba(31, 66, 158, 1) 20%,
    rgba(13, 66, 203, 1) 52%,
    rgba(35, 92, 218, 1) 70%
  );
}

.icons-size__assets {
  font-size: 20px;
  cursor: pointer;
}

.button-fix {
  width: 50px;
}

.icon__refresh {
  margin-left: -25px;
  margin-right: 10px;
}

.modal__general__second-button {
  padding: 8px;
  border: none;
  background-color: rgb(97, 151, 76);
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.modal__general__second-button:disabled {
  opacity: 0.5;
}

.assert__data-close {
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: red;
  color: #ffffff;
  margin-top: 2px;
  margin-left: 10px;
  font-size: 16px;
}

.button__red-color {
  background-color: red;
}

.modal__edit__button {
  padding: 8px;
  border: none;
  background-color: rgb(97, 151, 76);
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.modal__edit__button:disabled {
  opacity: 0.5;
}

.modal__edit__close__button {
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: #ffffff;
  margin-top: 2px;
  font-size: 16px;
}
