.assets__main {
  color: black;
}

.assets__render {
  border-radius: 20px;
}

.icons-size__assets {
  font-size: 20px;
}

.fa-trash-can {
  color: rgb(141, 19, 19);
}

.fa-circle-info {
  color: rgb(15, 15, 63);
}

.fa-pen-to-square {
  color: rgb(126, 126, 3);
}

.assets__button-flexible {
  display: flex;
}

.div__buttons-assets {
  display: flex;
  width: 100px;
}

.buttons__crud-container {
  vertical-align: middle;
}

.table__overflow {
  margin-top: 50px;
  overflow-y: scroll;
  height: 750px;
}

.scroll-container {
}

table {
  width: 80vw;
  border-spacing: 0 1em;
  text-align: center;
}

.companies__margin-fix table {
  width: 70vw;
}




table > thead {
  font-size: 1.5rem;
}

tr.border-bottom {
  border-bottom: 1px solid #ccc;
  height: 20px;
  transition: 0.3s;
  border-radius: 4px;
}

tbody > tr.border-bottom {
  font-size: 1.2rem;
}

td:nth-child(3) {
  text-transform: capitalize;
}

tr.border-bottom:hover {
  background-color: #ccc;
}

@media only screen and (min-width: 200px) {
  @media only screen and (max-width: 499px) {
    table {
      width: 140vh;
    }
    .assets__main {
      width: 100vw;
    }
    .companies__margin-fix {
      margin-left: -40px;

    }
    .companies__margin-fix table {
      width: 450px;
    }
    .units__margin-fix table {
        width: 500px;
    }
    .table__overflow {
      height: 750px;
    }
   
  }
}

@media only screen and (min-width: 980px) {
  @media only screen and (max-width: 1200px) {
    table {
      width: 150vw;
    }
    .assets__main {
      width: 73vw;
    }

    .companies__margin-fix table {
      width: 70vw;
    } 
  }
}


@media only screen and (min-width: 1201px) {
  @media only screen and (max-width: 1366px) {
    table {
      width: 150vw;
    }
    .assets__main {
      width: 76vw;
    }
    .companies__margin-fix table {
      width: 70vw;
    } 
  }
}

@media only screen and (min-width: 500px) {
  @media only screen and (max-width: 979px) {
    table {
      width: 200vw;
    }
    .assets__main {
      width: 97vw;
    }
    .units__margin-fix table {
      width: 100vw;
    }
    .companies__margin-fix table {
      width: 80vw;
    }
  }
}
